#unbigotry-badge {
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 200px;
  min-height: 100px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  z-index: 99999999;
  font-size: 12px;
  font-family: sans-serif;
  color: black;
  padding-bottom: 0.5em;
}

#unbigotry-badge h3, #unbigotry-related h3 {
  margin: 1em;
  font-weight: bold;
}

#unbigotry-badge h4 {
  text-transform: uppercase;
  margin: 0.5em 1.2em;
  font-weight: normal;
  font-size: 0.9em;
}

#unbigotry-badge .label {
  display: block;
  background-color: grey;
  color: black;
  margin: 0.25em 1em 0.5em;
  width: 150px;
  padding-top: 0.5em;
  padding-left: 0.5em;
}

#unbigotry-badge > span {
  margin: 0.25em 1em 0.5em;
}

#unbigotry-badge .label.liberal {
  background-color: yellow;
}

#unbigotry-badge .label.conservative {
  background-color: #77f;
}

#unbigotry-badge .unbigotry-close {
  position: fixed;
  right: 30px;
  top: 25px;
  color: grey;
  cursor: pointer;
}

body {
  padding-bottom: 100px;
}

#unbigotry-related {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  color: black;
  background-color: white;
  z-index: 99999999;
  font-size: 12px;
  font-family: sans-serif;
  box-shadow: -2px 0 4px rgba(0,0,0,0.5);
  overflow: auto;
}

#unbigotry-related > a {
  display: block;
  padding: 0;
  margin: 0.2em 1em;
}

#unbigotry-related .unbigotry-close {
  position: fixed;
  right: 10px;
  bottom: 130px;
  color: grey;
  cursor: pointer;
}

